@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

/* Общие стили */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wide {
  padding: 8px 50px;
}

.button-brown {
  background-color: rgba(117, 97, 87, 1);
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.text-30-bold {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.text-20-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.text-16-bold-white {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.text-22-normal {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.text-24-bold-white {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;

}

.text-18-normal-white {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.text-24-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
}

.text-20-bold-white {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}

.text-18-normal {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.text-60-bold-white {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.text-16-normal-white {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.text-20-24-bold-white {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.text-18-23-normal-white {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.text-18-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.text-16-normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.text-40-normal {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Pages */

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.header {
  display: flex;
  padding: 0 70px 0 254px;
  justify-content: space-between;
  position: relative;
}

.header-logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
  width: 600px;
}

.navigation-item {
  padding-top: 20px;
  padding-bottom: 20px;

}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hero {
  background-color: #748c9a;
  background-image: url("../images/divider.svg"), url("../images/background/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  padding-top: 50px;
  padding-bottom: 83px;
  background-size: 100% 57px, cover;
  background-position: left bottom, center top;
  min-height: 485px;
  flex-wrap: wrap;
}

.form-mailing {
  background-image: url("../images/background/subscribe-background.jpg");
  background-repeat: no-repeat;
  min-height: 415px;
  background-size: cover;
}

.title-hero-catalog {
  margin: 0;
}


.main-description-list {
  display: flex;
  flex-wrap: wrap;

}

.main-description-item-wide {
  display: flex;
  width: 100%;
}

.main-item-square {
  width: calc(100% / 3);
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-item-blue {
  background-color: rgba(130, 179, 211, 1);
}

.main-item-white {
  background-color: rgba(131, 179, 211, 0.12);
}

.main-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
}


.main-item-title {
  text-transform: uppercase;
  max-width: 175px;
}

.main-item-text {
  max-width: 230px;
}

.main-item-line {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  ;
}

.main-item-line-light {
  background-color: rgba(255, 255, 255, 0.3);
}

.description-activities-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.description-activities-list {
  display: flex;
}

.description-activities-item {
  width: calc(100% / 3);
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.invitation {
  padding: 64px 0;
}

.description-activities-title {
  text-transform: uppercase;
}

.description-activities-title {
  max-width: 230px;
}

.description-activities-text {
  max-width: 230px;
}

.seacher {
  padding: 96px 0;
  max-width: 592px;
  margin: 0 auto;
}
